.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /*охватывает всю высоту области просмотра*/
  align-items: center;
  padding: 45px 0 60px;
  color: #ffffff;
  background-color: #000000;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-size: cover;
}

@media (max-width: 320px) {
  .page {
    padding: 28px 0 36px;
  }
}
